body {
    background-color: #121212;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3 {
    color: #C70039;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    background-color: #1E1E1E;
    border: none;
    color: #fff;
    border-radius: 12px;
}

.card img {
    border-radius: 8px;
}

button {
    background-color: #C70039;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #FF5733;
}

.menu-item {
    background-color: #222;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
}

.menu-item h3 {
    color: #FF5733;
}

.bg-light {
    background-color: #333 !important;
    color: white;
}
